ONELAP_SECRET=your_onelap_secret
ONELAP_USERNAME=your_username
ONELAP_PASSWORD=your_password
STRAVA_CLIENT_ID=your_client_id
STRAVA_CLIENT_SECRET=your_client_secret
STRAVA_REFRESH_TOKEN=your_refresh_token
